# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Build outputs
dist/
client/dist/

# Local env files
.env
server/.env

# IDE / Editor logs and configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
